{% if data_warehouse == "snowflake" %}
{{ profile_name }}:
  target: dev
  outputs:
    dev:
      type: {{ data_warehouse | lower }}
      account: {{ account_env_var | lower }}
      authenticator: externalbrowser
      user: {{ username | lower }}
      warehouse: {{ warehouse | lower }}
      database: {{ database | lower}}
      schema: {{ schema | lower }}
      threads: {{ thread_count}}
{%- endif -%}
{% if data_warehouse == "bigquery" %}
{{ profile_name }}:
  target: dev
  outputs:
    dev:
      type: {{ data_warehouse }}
      method: oauth
      project: {{ database | lower }}
      dataset: {{ schema | lower }}
      threads: {{ thread_count }}
{%- endif -%}
{% if data_warehouse == "redshift" %}
{{ profile_name }}:
  target: dev
  outputs:
    dev:
      type: {{ data_warehouse | lower }}
      method: iam
      iam_profile: {{ iam_profile | lower }}
      region: {{ region | lower }}
      cluster_id: {{ cluster_id | lower }}
      host: {{ host | lower }}
      port: {{ port | lower }}
      user: {{ username | lower }}
      database: {{ database | lower }}
      schema: {{ schema | lower }}
      threads: {{ thread_count }}
{%- endif -%}
{% if data_warehouse == "duckdb" %}
{{ profile_name }}:
  target: dev
  outputs:
    dev:
      type: {{ data_warehouse }}
      path: {{ duckdb_file_path | lower }}
      database: {{ database | lower }}
      schema: {{ schema | lower }}
      threads: {{ thread_count }}
{%- endif -%}
{% if data_warehouse == "postgres" %}
{{ profile_name }}:
  target: dev
  outputs:
    dev:
      type: {{ data_warehouse | lower }}
      host: {{ host | lower }}
      port: {{ port | lower }}
      user: {{ username | lower }}
      password: "" # Add a password here if needed
      database: {{ database | lower }}
      schema: {{ schema | lower }}
      threads: {{ thread_count }}
{%- endif -%}
{% if data_warehouse == "databricks" %}
{{ profile_name }}:
  target: dev
  outputs:
    dev:
      type: {{ data_warehouse | lower }}
      {% if using_unity_catalog -%}catalog: {{ catalog | lower }}{%- endif %}
      host: {{ host | lower }}
      http_path: {{ http_path | lower }}
      token: # Your Personal Access Token here
      schema: {{ schema | lower }}
      threads: {{ thread_count }}
{%- endif -%}
