{% if data_warehouse == "snowflake" %}
{{ profile_name }}:
  target: dev
  outputs:
    dev:
      type: {{ data_warehouse }}
      account: {{ account_env_var }}
      user: {{ username }}
      authenticator: externalbrowser
      database: {{ database }}
      warehouse: {{ warehouse }}
      schema: {{ schema }}
      threads: {{ thread_count }}
{%- endif -%}
{%- if data_warehouse == "bigquery" -%}
{{ profile_name }}:
  target: dev
  outputs:
    dev:
      type: {{ data_warehouse }}
      project: {{ database }}
      dataset: {{ schema }}
      method: oauth
      threads: {{ thread_count }}
{%- endif -%}
{%- if data_warehouse == "redshift" -%}
{{ profile_name }}:
  target: dev
  outputs:
    dev:
      type: {{ data_warehouse }}
      account: {{ account_env_var }}
      user: {{ username }}
      database: {{ database }}
      schema: {{ schema }}
      threads: {{ thread_count }}
{%- endif -%}
{%- if data_warehouse == "duckdb" -%}
{{ profile_name }}:
  target: dev
  outputs:
    dev:
      type: {{ data_warehouse }}
      path: {{ duckdb_file_path }}
{%- endif -%}
{%- if data_warehouse == "postgres" -%}
{{ profile_name }}:
  target: dev
  outputs:
    dev:
      type: {{ data_warehouse }}
      account: {{ account_env_var }}
      user: {{ username }}
      authenticator: externalbrowser
      database: {{ database }}
      warehouse: {{ warehouse }}
      schema: {{ schema }}
      threads: {{ thread_count }}
{%- endif -%}
{%- if data_warehouse == "databricks" -%}
{{ profile_name }}:
  target: dev
  outputs:
    dev:
      type: {{ data_warehouse }}
      account: {{ account_env_var }}
      user: {{ username }}
      authenticator: externalbrowser
      database: {{ database }}
      warehouse: {{ warehouse }}
      schema: {{ schema }}
      threads: {{ thread_count }}
{%- endif -%}
