{% if data_warehouse == "snowflake" %}
{{ profile_name }}:
  target: dev
  outputs:
    dev:
      type: {{ data_warehouse | lower }}
      account: {{ account_env_var | lower }}
      user: {{ username | lower }}
      authenticator: externalbrowser
      database: {{ database | lower}}
      warehouse: {{ warehouse | lower }}
      schema: {{ schema | lower }}
      threads: {{ thread_count}}
{%- endif -%}
{% if data_warehouse == "bigquery" %}
{{ profile_name }}:
  target: dev
  outputs:
    dev:
      type: {{ data_warehouse }}
      project: {{ database | lower }}
      dataset: {{ schema | lower }}
      method: oauth
      threads: {{ thread_count }}
{%- endif -%}
{% if data_warehouse == "redshift" %}
{{ profile_name }}:
  target: dev
  outputs:
    dev:
      # coming soon
{%- endif -%}
{% if data_warehouse == "duckdb" %}
{{ profile_name }}:
  target: dev
  outputs:
    dev:
      type: {{ data_warehouse }}
      path: {{ duckdb_file_path | lower }}
      database: {{ database | lower }}
      schema: {{ schema | lower }}
      threads: {{ thread_count }}
{%- endif -%}
{% if data_warehouse == "postgres" %}
{{ profile_name }}:
  target: dev
  outputs:
    dev:
      # coming soon
{%- endif -%}
{% if data_warehouse == "databricks" %}
{{ profile_name }}:
  target: dev
  outputs:
    dev:
      # coming soon
{%- endif -%}
